{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Gestión de datos {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styedicionesvita.css' %}">
    </head>
    <body id="bg9" style="background-image: url('{% static 'images/catadef.jpg' %}')">
        {% block body %}
        <div class="contenedorvita">
            <div class="formulariovita">
                <h1>Agregar Reporte</h1>
                <div class="card">
                    <div class="card-body">         
                        <form method="POST" action="{% url 'AgregarVita' %}" enctype="multipart/form-data"> {% csrf_token %}
                            <div class="grid-container">
                                <div class="campo">
                                    <label for="idvitas">ID_Bitácora:</label>
                                    <input type="text" id="txtid" name="idvi" value="{{ datos_formulario.idvi }}"  class="form-control"  required readonly>
                                </div>
                                <div class="campo">
                                    <label for="foliovita">Folio:</label>
                                    <input type="text" id="txtfolio" name="foliovi" value="{{ ventanilla.folio }}" class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="nombrevita">Nombre del propetario:</label>
                                    <input type="text" id="txtnombre" name="nombrevi" value="{{ datos_formulario.nombrevi }}" class="form-control" required >
                                </div>
                                <div class="campo">
                                    <label for="fechavita">Fecha de revisión:</label>
                                    <input type="date" id="txtfecha" name="fechavi" value="{{ datos_formulario.fechavi}}" class="form-control"min="01/01/1980" max="31-12-2099" required required >
                                </div>
                                <div class="campo">
                                    <label for="carpetavita">Carpeta:</label>
                                    <input type="text" id="txtcarpeta" name="carpetavi" value="{{ datos_formulario.carpetavi }}" class="form-control" required >
                                </div>
                                <div class="campo">
                                    <label for="areavita">Área:</label>
                                    <input type="text" id="txtarea" name="areavi" value="{{ datos_formulario.areavi }}" class="form-control" required >
                                </div>
                                <div class="campo">
                                    <label for="foliovita">Folio de manifestación:</label>
                                    <input type="text" id="txtfolioma" name="foliomavi" value="{{ datos_formulario.foliomavi }}" class="form-control" required >
                                </div>
                                <div class="campo">
                                    <label for="diavita">Dia que sale:</label>
                                    <input type="date" id="txtdia" name="diavi" value="{{ datos_formulario.diavi }}" class="form-control" min="01/01/1980" max="31-12-2099" required >
                                </div>
                                <div class="campo">
                                    <label for="archivo_pdfvita">Plano manzaner:</label>
                                    <input type="file" id="txtarchivo" name="archivovi" class="form-control" required>
                                </div>
                                <div class="campo">
                                    <label for="verivita">Verificación de linderos:</label>
                                    <input type="text" id="txtveri" name="verivi" value="{{ datos_formulario.verivi }}" class="form-control" required >
                                </div>
                                <div class="campo">
                                    <label for="tipovita">Tipo de captura:</label>
                                    <input type="text" id="txttipo" name="tipovi" value="{{ datos_formulario.tipovi }}" class="form-control" required >
                                </div>
                                <div class="campo">
                                    <label for="clavevita">Clave catastral:</label>
                                    <input type="text" id="txtclave" name="clavevi" value="{{ datos_formulario.clavevi }}" class="form-control" required >
                                </div>
                                <div class="campo">
                                    <label for="costovita">Costo de translado:</label>
                                    <input type="text" id="txtcosto" name="costovi" value="{{ datos_formulario.costovi }}" class="form-control" required >
                                </div>
                                <div class="campo">
                                    <label for="observita">Observaciones:</label>
                                    <input type="text" id="txtobs" name="obsvi" value="{{ datos_formulario.obsvi }}" class="form-control" required >
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="button" id="prepararvita">Preparar</button>
                                <button type="submit" class="agregarvita">Agregar Reporte</button>
                                <button type="button" class="cancelarins" onclick="goToediinspec()">Cancelar</button>        
                            </div>
                        </form>      
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        <script>
                            setTimeout(function() {
                                var messages = document.querySelector('.messages');
                                messages.style.display = 'none';
                            }, 5000);
                        </script>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const urlObtenerSiguienteId = "{% url 'obtener_siguiente_idvit' %}";
        
                document.getElementById('prepararvita').addEventListener('click', function() {
                    fetch(urlObtenerSiguienteId)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('txtid').value = data.siguiente_idvit;  
                        })
                        .catch(error => {
                            console.error('Error al obtener el siguiente ID:', error);
                        });
                });
            });
        </script>
        <script src="{% static 'js/EdicionVita.js' %}"></script>
        <script src="{% static 'js/obteneridins.js' %}"></script>
        {% endblock %}
    </body>
</html>