{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Gestión de datos {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styedicionesvita.css' %}">
    </head>
    <body id="bg9" style="background-image: url('{% static 'images/catadef.jpg' %}')">
        {% block body %}
        <div class="contenedorvita">
            <div class="formulariovita">
                <h1>Edición De Datos</h1>
                <div class="card">
                    <div class="card-body">         
                        <form action="/vitacora/editarVita/{{ventanilla.nprog}}/" method="POST">{% csrf_token %}
                            <div class="grid-container">
                                <div class="campo">
                                    <label for="prog3">N°PROG:</label>
                                    <input type="text" id="progvita" name="progvita" value="{{ ventanilla.nprog }}" class="form-control"  disabled>
                                </div>
                                <div class="campo">
                                    <label for="claveca3" >CLAVE CATASTRAL:</label>
                                    <input type="text" id="claveravita" name="claveravita" value="{{ ventanilla.clave_catastral }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="nombre3">NOMBRE:</label>
                                    <input type="text" id="nombrevita" name="nombrevita" value="{{ ventanilla.nombre }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="curp3">CURP:</label>
                                    <input type="text" id="curpvita" name="curpvita" value="{{ ventanilla.curp }}"  class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="manzana3">MANZANA:</label>
                                    <input type="text" id="manzanavita" name="manzanavita" value="{{ ventanilla.manzana }}"  class="form-control">
                                </div>
                                <div class="campo">
                                    <label for="lote3">LOTE:</label>
                                    <input type="text" id="lotevita" name="lotevita" value="{{ ventanilla.lote }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="calle3">CALLE:</label>
                                    <input type="text" id="callevita" name="callevita" value="{{ ventanilla.calle }}"  class="form-control">
                                </div>
                                <div class="campo">
                                    <label for="barrio3">BARRIO O COLONIA:</label>
                                    <input type="text" id="barriovita" name="barriovita" value="{{ ventanilla.barrio_colonia }}" class="form-control">
                                </div>
                                <div class="campo">
                                    <label for="entidad3">ENTIDAD:</label>
                                    <input type="text" id="entidadvita" name="entidadvita" value="{{ ventanilla.entidad }}" class="form-control">
                                </div>
                                <div class="campo">
                                    <label for="municipio3">MUNICIPIO:</label>
                                    <input type="text" id="municipiovita" name="municipiovita" value="{{ ventanilla.municipio }}" class="form-control">
                                </div>
                                <div class="campo">
                                    <label for="certc3">CERT.CLAVE:</label>
                                    <input type="text" id="certvita" name="certvita" value="{{ ventanilla.cert_clave }}" class="form-control" >
                                </div>
                                 <div class="campo">
                                    <label for="planomz3">CERT.DE PLANO MZ:</label>
                                    <input type="text" id="planomzvita" name="planomzvita" value="{{ ventanilla.cert_plano_mz }}"  class="form-control">
                                </div>
                                <div class="campo">
                                    <label for="topo3">LEVANTAMIENTO TOPO:</label>
                                    <input type="text" id="topovita" name="topovita" value="{{ ventanilla.levantamiento_topo }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="linderos3">VERIFICACION DE LINDEROS:</label>
                                    <input type="text" id="linderosvita" name="linderosvita" value="{{ ventanilla.verificacion_linderos }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="ident3">CONST DE IDENT.CATASTRAL:</label>
                                    <input type="text" id="identvita" name="identvita" value="{{ ventanilla.const_ident_catastral }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="ccvc3">C.C.V.C:</label>
                                    <input type="text" id="ccvcvita" name="ccvcvita" value="{{ ventanilla.ccvc }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="fecha3">FECHA:</label>
                                    <input type="text" id="fechavita" name="fechavita" value="{{ ventanilla.fecha }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="folio3">FOLIO:</label>
                                    <input type="text" id="foliovita" name="foliovita" value="{{ ventanilla.folio }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="recibo3">N°RECIBO:</label>
                                    <input type="text" id="recibovita" name="recibovita" value="{{ ventanilla.recibo }}"  class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="importe3">IMPORTE:</label>
                                    <input type="text" id="importevita" name="importevita"  value="{{ ventanilla.importe }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="reviso3">REVISO:</label>
                                    <input type="text" id="revisovita" name="revisovita" value="{{ ventanilla.reviso }}"  class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="motivo3">MOTIVO:</label>
                                    <input type="text" id="motivovita" name="motivovita" value="{{ ventanilla.motivo }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="soliservi3">SOLICITUD DE SERVICIO CATASTRAL(codigos):</label>
                                    <input type="text" id="soliservivita" name="soliservivita" value="{{ ventanilla.solicitud_servicio_catastral }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="terrreno3">SUPERFICIE TERRENO (M2):</label>
                                    <input type="text" id="terrenovita" name="terrenovita" value="{{ ventanilla.superficie_terreno }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="construc3">SUPERFICIE CONSTRUCCION RESULTANTE (M2):</label>
                                    <input type="text" id="construcvita" name="construcvita" value="{{ ventanilla.superficie_construccion_resultante }}"  class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="elaboracion3">FECHA ELABORACION:</label>
                                    <input type="text" id="elaboracionvita" name="elaboracionvita" value="{{ ventanilla.fecha_elaboracion }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="atencion3">OBSERVACIONES ATENCION:</label>
                                    <input type="text" id="atencionvita" name="atencionvita" value="{{ ventanilla.observaciones_atencion }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="hora3">HORA DE RECEPCION:</label>
                                    <input type="text" id="horavita" name="horavita" value="{{ ventanilla.hora_recepcion }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="pago3">PAGO:</label>
                                    <input type="text" id="pagovita" name="pagovita" value="{{ ventanilla.pago }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="extras3">$EXTRA$:</label>
                                    <input type="text" id="extrasvita" name="extrasvita" value="{{ ventanilla.extras }}" class="form-control" >
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                <button type="button" id="cancelButton" class="btn btn-danger btn-block text-white" onclick="goToEditor()">Cancelar</button>
                            </div>
                        </form>
                                    
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                <script>
                                    setTimeout(function() {
                                        var messages = document.querySelector('.messages');
                                        messages.style.display = 'none';
                                    }, 5000);
                                </script>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/EdicionVita.js' %}"></script>
        {% endblock %}
    </body>
</html>