/* Estilos generales para el cuerpo del documento */
#bg14 {
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  /* Estilos para el contenedor principal */
  .contenedorinspec {
    margin-top: -3.2vw;
    width: 97vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para el formulario */
  .formularioinspec {
    width: 52vw;
    height: 51vh;
    background-color: rgba(255, 255, 255, 0.933);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
    user-select: none;
  }
  
  /* Estilos para el título */
  h1 {
    margin-top: -2px;
    text-align: center;
    margin-bottom: 55px;
    font-size: 35px;
    margin-left: 1vw;
  }
  
  /* Estilos para los campos de entrada */
  input {
    width: 20vw;
    padding: 1vh;
    margin-left: 0.5vw; /* Ajustado para mover más a la izquierda */
    margin-top: -1vw;
    margin-bottom: 1vw;
    border: 1px solid #676666;
    border-radius: 5px;
  }
  
  /* Contenedor para los botones */
  .button-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 5px; /* Reducido el gap entre botones */
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  /* Estilos para los botones */
  button {
    width: 25%; /* Ancho del botón */
    padding: 10px; /* Espaciado interno */
    margin: 5px; /* Reducido el margen */
    border: none; /* Sin borde */
    background-color: #e8c289; /* Color de fondo */
    color: #ffffff; /* Color de texto */
    border-radius: 5px; /* Radio de borde */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    transition: background-color 0.2s ease-in-out; /* Transición de color de fondo */
    margin-left: 10px; /* Reducido margen izquierdo para juntar más los botones */
  }
  
  
  /* Estilos al pasar el ratón sobre el botón */
  .cancelarre:hover {
    background-color: #d12a2a;
  }
  
  .actualizarre:hover { 
    background-color: #52c750;
  }
  
  

  
  /* Estilos para los campos de entrada */
  .campo {
    margin-bottom: -0.2vw;
    display: flex;
    align-items: center;
    margin-top: 3%;
  }
  
  /* Estilos para los labels de los campos */
  .campo label {
    margin-left: -1.5vw;
    width: 16vw;
    margin-top: -4vh;
    padding: 6px;
    text-align: right;
    font-size: 12px;
    margin-left: 7px;
  }
  
  
