#bg11 {
    font-family: sans-serif; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed; 
    font-family: sans-serif; 
  }
  
  /* Estilos para el contenedor principal */
  .contenedorcrearinsp {
    width: 99vw;  
    height: 96vh; 
    display: flex;  
    justify-content: center; 
    align-items: center; 
  }
  
  /* Estilos para el formulario de edicion de usuarios */
  .formulariocrearinsp {
    width: 90vw;  
    height: 70vh; 
    background-color: rgba(255, 255, 255, 0.889); 
    padding: 20px;  
    border-radius: 50px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
    user-select: none;  
  
  }
  
  /* Estilos para el título */
  h1 {
    margin-top: -1px;
    text-align: center; 
    margin-bottom: 25px; 
    font-size:40px; 
  }
  
  /* Estilos para el botón Lista */
.btn-lista {
  background-color:  #e8c289; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 8px 16px; /* Padding interno */
  border: none; /* Sin borde */
  border-radius: 4px; 
  cursor: pointer; 
  margin-left: 59vw; 
  margin-top: -49%;
  margin-bottom: 3.5vh;
}
.btn-lista:hover {
  background-color: #56bfd7;; /* Color de fondo al pasar el mouse */
}

.btn-lista:focus {
  outline: none; 
}
  
  /* Estilos para el campo de entrada de buscador */
  input {
    width: 20vw;  
    padding: 1vh;  
    margin-left: 2vw; 
    margin-bottom: 1vw; 
    border-radius: 5px; 
  }
  
  
  /* Estilos para los botones */
  button {
    width: 25%; 
    padding: 10px; 
    margin: 10px; 
    margin-left: 16%; 
    border-radius: 5px;
    cursor: pointer; 
  }
  
  
  /* Estilos para el buscador */
  .buscador {
    display: flex;
    align-items: center;
    width: 40vw;
    height: 4vh;
    margin-left: 6vw;
    margin-top: -4%;
    border: 1px solid #491411;
    border-radius: 5px;
    justify-content: space-between;
  }
    
    
  .buscador input {
    width: 40vw;
    height: 1vh;
    margin: auto;
    border: #000000;
    outline: none;
  }
  
  /* Estilos para el boton de buscador */
  .buscador button {
    padding: 1%;
    width: 7vw;
    height: 3.5vh;
    background-color: #491411;
    color: #fff;
    border: #491411;
    outline: none;
    cursor: pointer;
  }
  
  /* Estilos para la tabla */
  table {
    width: 80vw;
    border-collapse: collapse;
    margin-right: 1vw;
  }
  
  
  /* Estilos para las celdas */
  th, td {
    border: 1px solid #ccc;
    padding: 5.5px; 
    text-align: center;
    width: 30px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
    
  th {
    background-color: #f2f2f2;
  }
    
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .tabla-contenedor {
    margin-top: 20px;
    max-height: 400px; 
    overflow-y: auto; 
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .selected-row {
    outline: 4px solid #b99866; 
  }
  
   
  /* Estilos cuando se pasa el cursor sobre el botón */
  .btneliminarvit:hover {
    background-color: #511512; 
  }
  
  
  /* Estilos para el botón  generar reporte*/
  .btngeneins {
    background-color: #249e20; 
    color: #ffffff; 
    padding: 4.5px 11px; 
    text-decoration: none; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
  }
  
  /* Estilos cuando se pasa el cursor sobre el botón */
  .btngeneins:hover {
    background-color: #511512; 
  }
  
  
  /* Estilos para los iconos*/
  .btngeneins img,
  .btneliminarvit img {
      width: 20px;
      height: 23px;
      vertical-align: middle; 
  }

  .btn-lista img {
    width: 20px;
    height: 23px;
    vertical-align: middle; 
  }
  
  /* Estilos para la ventana mensaje de confirmación */
  .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .modal-contenido {
    background-color: #fefefeec;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 40%; 
    height: 20%; 
    text-align: center;
    border-radius: 15px;
  }
  
  .modal-contenido button {
    display: inline-block; 
    margin: 0 auto; 
  }
  
  /* Estilos para los boton de confirmar */
  #confirmarEliminar  {
    background-color: #8bcd51;
    color: white;
    padding: 10px 15px;
    margin: 25px;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para los boton de cancelar */
  #cancelarEliminar{
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  
  #confirmarEliminar:hover, #cancelarEliminar:hover {
    background-color: #e8c289;
  }
  

  .error-message {
    background-color: #f8d7da; /* Color de fondo rojo claro para mensajes de error */
    color: #721c24; /* Color de texto rojo oscuro */
    border: 1px solid #f5c6cb; /* Borde rojo */
    padding: 7px; /* Espacio alrededor del mensaje */
    margin-bottom: 10px; /* Espacio debajo del mensaje */
    margin-right: 40px;
    margin-left: 3px;
    margin-top: -713px;
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
}

.success-message {
  background-color: #d4edda; /* Color de fondo verde claro */
  color: #155724; /* Color de texto verde oscuro */
  border: 1px solid #c3e6cb; /* Borde verde */
  padding: 7px; /* Espacio alrededor del mensaje */
  margin-bottom: 10px; /* Espacio debajo del mensaje */
  margin-right: 40px;
  margin-left: 3px;
  margin-top: -713px;
  border-radius: 5px; /* Bordes redondeados */
  text-align: center;
}

.estado-pendiente {
  background-color: rgb(255, 255, 52);
}

.estado-aprobado {
  background-color: rgb(34, 167, 34);
  color: white; /* Opcional: para que el texto sea legible */
}

.estado-desaprobado {
  background-color: rgb(206, 64, 46);
  color: white; /* Opcional: para que el texto sea legible */
}