 
  /* Estilos para el contenedor principal */
  .contenedorventa {
    width: 97vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para el formulario */
  .formularioventa {
    margin-top: 27vw;
    width: 85vw;
    height: 138vh;
    background-color: rgba(255, 255, 255, 0.884);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
    user-select: none;
  }
  
/* Contenedor de grid para los poner en 2 columnas los campos */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0px;
  }
  
  /* Estilos para la primera columna */
  .grid-container > :first-child {
    margin-right: 1px; 
  }

  /* Estilos para el título */
  h1 {
    margin-top: 1px;
    text-align: center;
    margin-bottom: 1px;
    font-size: 40px;
    margin-left: 1vw;
  }
  
  /* Estilos para los campos de entrada */
  input {
    width: 20vw;
    padding: 1vh;
    margin-left: 1vw;
    margin-top: -1vw;
    margin-bottom: 1vw;
    border: 1px solid #676666;
    border-radius: 5px;
  }
  
  /* Contenedor para los botones */
  .button-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 34px; 
  }
  
  /* Estilos para los botones */
  button {
    width: 25%;
    padding: 10px;
    margin: 10px;
    margin-left: 70px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  /* Estilos para cada botón */
  #prepararven {
    background-color: #e8c289;
  }

  
  #generarven{
    background-color: #e8c289;
  }

  #limpiarven {
    background-color: #e8c289;
  }


  /* Estilos al pasar el ratón sobre cada botón */
  #prepararven:hover {
    background-color: #d7aa56;
  }

  #generarven:hover {
    background-color: #58d756;
  }

  #limpiarven:hover {
    background-color: #56b0d7;
  }

  /* Estilos para los campos de entrada */
  .campo {
    margin-bottom: -0.2vw;
    display: flex;
    align-items: center;
    margin-top: 3%;
  }
  
  /* Estilos para los label de los campos */
  .campo label {
    margin-left: -1.5vw;
    width: 16vw;
    margin-top: -4vh;
    padding: 6px;
    text-align: right;
    font-size: 12px;
    margin-left: 8px;
  }
  .campo-input {
    width: 91%; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 0.5vw;
    display: flex;
    align-items: center;
    margin-top: -3%;
}

.success-message {
  background-color: #d4edda; /* Color de fondo verde claro */
  color: #155724; /* Color de texto verde oscuro */
  border: 1px solid #c3e6cb; /* Borde verde */
  padding: 7px; /* Espacio alrededor del mensaje */
  margin-bottom: 10px; /* Espacio debajo del mensaje */
  margin-right: 40px;
  margin-left: 3px;
  margin-top: -713px;
  border-radius: 5px; /* Bordes redondeados */
  text-align: center;
}