{% extends "ProyectoWebApp/base3.html" %}

{% load static %}

<!-- Contenido cambiante-->
{% block content %}
<head>
    
    
    

    <link rel="stylesheet" href="{% static 'direccion/css/whatsapp.css' %}">
    <link rel="stylesheet" href="{% static 'direccion/css/styless.css' %}">
  
    
  </head>
<body>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=5649240699&text=En%20que%20puedo%20ayudarte." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

</body>

<div class="contenedorFormulario">

    {% if "valido" in request.GET %}

    <p id="mensajeExito" class="mensaje-recuadro" style="color: rgb(0, 0, 0);">Informacion envíada correctamente, gracias</p>

    {% endif %}
    
    <form action="" method="POST" >
        {% csrf_token %}

        <table >{{miFormulario.as_table}}</table>
        
        <input type="reset" class="btnlimpiar" value="Limpiar">

        <input type="submit" class="btnenviar" value="Enviar" >

        



    </form>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var mensaje = document.getElementById("mensajeExito");
        if (mensaje) {
            setTimeout(function() {
                mensaje.style.display = 'none';
            }, 5000); // 5000 milisegundos = 5 segundos
        }
    });
</script>

{% endblock %}