<html>

<head>

  {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'ProyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'ProyectoWebApp/css/gestion.css' %}" rel="stylesheet">

    <!-- whatsapp -->
    <!--<link rel="stylesheet" href="{% static 'ProyectoWebApp/css/whatsapp.css' %}">-->
</head>

<body>
  
  <h1 class="site-heading text-center text-white d-none d-lg-block" style="margin-top:40px;">
    <span class="site-heading-lower" style="color: #5E1834; font-size: 32px;"  > Comunicate con Administración </span>
  </h1>
  

 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav" style="margin-top: -3%;">
  <img src="{%  static 'ProyectoWebApp/img/LOGO_C.png' %}" style="position: absolute; margin-left: 7%; width: 80PX;"> 
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">CHIMALHUACAN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">

          <li class="nav-item {% if request.path == '/ventanilla/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Ventanilla' %}"><img src="{% static 'ProyectoWebApp/img/recepcion.png' %}" alt="Iconore" style="width: 26px; height: 26px; margin-top: -10px; margin-right: 5px;">Ventanilla</a>
          </li>

          <li class="nav-item {% if request.path == '/cartografia/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'editorcar' %}"><img src="{% static 'ProyectoWebApp/img/cartografia.png' %}" alt="Iconocar" style="width: 26px; height: 26px; margin-top: -10px; margin-right: 6px;">Cartografia</a>
          </li>

          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Vitacora' %}"><img src="{% static 'ProyectoWebApp/img/bitacora.png' %}" alt="Iconobit" style="width: 26.5px; height: 26.5px; margin-top: -10px; margin-right: 5px;">Bitácora</a>
          </li>
                            
          <li class="nav-item {% if request.path|slice:':6' == '/inspeccion/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Inspeccion' %}"><img src="{% static 'ProyectoWebApp/img/inspeccion.png' %}" alt="Iconore" style="width: 26px; height: 26px; margin-top: -10px; margin-right: 5px;">Inspección</a>
          </li>

          <li class="nav-item {% if request.path == '/direccion/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Direccion' %}"><img src="{% static 'ProyectoWebApp/img/ayuda.png' %}" alt="Iconore" style="width: 27px; height: 27px; margin-top: -9px; margin-right: 5px;">Ayuda</a>
          </li>
          
          <li class="nav-item {% if request.path == '/login/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'inicio_de_sesion' %}"><img src="{% static 'ProyectoWebApp/img/cerrar-sesion.png' %}" alt="Iconore" style="width: 25px; height: 25px; margin-top: -8px; margin-right: 5px;">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Contenido cambiante-->
  {% block content %}

  {% endblock %}

    <!-- Footer -->
     <br><br>
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Gestión de Catastro 2024</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'ProyectoWebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ProyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>