{% extends "ProyectoWebApp/base1.html" %}

{% load static %}

{% block content %}

<!--<h3 class="site-heading text-center text-white d-none d-lg-block">
      
  <span class="site-heading-lowe" style="color: #537c69;">BUENOS DÍAS <br> BIENVENIDO</span>
</h3>-->

   <!-- Heading -->

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/catareg.jpeg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">BIENVENIDO</span>
            <span class="section-heading-upper">CHIMALHUACAN</span>
            <span class="section-heading-lower">CATASTRO</span>
          </h2>
          <p class="mb-3">Somos orgullusamente Chimalhuacan
          </p>
         
        </div>
      </div>
    </div>
  </section>

  
  <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/chima_2.jpg' %}" alt="" style="width: 80vw; height: 95vh; margin-left: 9%;" >

  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">CHIMALHUACAN</span>
                <span class="section-heading-lower">CATASTRO</span>
              </h2>
              <p class="mb-0">Somos orgullusamente Chimalhuacan</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  

    {% endblock %}