{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Gestión de datos {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styedicionescarto.css' %}">
    </head>
    <body id="bg8" style="background-image: url('{% static 'images/catadef.jpg' %}')">
        {% block body %}
        <div class="contenedorcarto">
            <div class="formulariocarto">
                <h1>Edición De Datos</h1>
                <div class="card">
                    <div class="card-body">         
                        <form action="/cartografia/editarCarto/{{ventanilla.nprog}}/" method="POST">{% csrf_token %}
                            <div class="grid-container">
                                <div class="campo">
                                    <label for="prog3">N°PROG:</label>
                                    <input type="text" id="progcarto" name="progcarto" value="{{ ventanilla.nprog }}" class="form-control"  readonly>
                                </div>
                                <div class="campo">
                                    <label for="claveca3" >CLAVE CATASTRAL:</label>
                                    <input type="text" id="claveracarto" name="claveracarto" value="{{ ventanilla.clave_catastral }}" class="form-control" readonly >
                                </div>
                                <div class="campo">
                                    <label for="nombre3">NOMBRE:</label>
                                    <input type="text" id="nombrecarto" name="nombrecarto" value="{{ ventanilla.nombre }}" class="form-control"readonly >
                                </div>
                                <div class="campo">
                                    <label for="curp3">CURP:</label>
                                    <input type="text" id="curpcarto" name="curpcarto" value="{{ ventanilla.curp }}"  class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="manzana3">MANZANA:</label>
                                    <input type="text" id="manzanacarto" name="manzanacarto" value="{{ ventanilla.manzana }}"  class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="lote3">LOTE:</label>
                                    <input type="text" id="lotecarto" name="lotecarto" value="{{ ventanilla.lote }}" class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="calle3">CALLE:</label>
                                    <input type="text" id="callecarto" name="callecarto" value="{{ ventanilla.calle }}"  class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="barrio3">BARRIO O COLONIA:</label>
                                    <input type="text" id="barriocarto" name="barriocarto" value="{{ ventanilla.barrio_colonia }}" class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="entidad3">ENTIDAD:</label>
                                    <input type="text" id="entidadcarto" name="entidadcarto" value="{{ ventanilla.entidad }}" class="form-control"readonly>
                                </div>
                                <div class="campo">
                                    <label for="municipio3">MUNICIPIO:</label>
                                    <input type="text" id="municipiocarto" name="municipiocarto" value="{{ ventanilla.municipio }}" class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="tramite3">TRAMITE:</label>
                                    <input type="text" id="tramitecarto" name="tramitecarto" value="{{ ventanilla.tramite }}" class="form-control" readonly >
                                </div>
                                <div class="campo">
                                    <label for="fecha3">FECHA:</label>
                                    <input type="text" id="fechacarto" name="fechacarto" value="{{ ventanilla.fecha }}" class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="folio3">FOLIO:</label>
                                    <input type="text" id="foliocarto" name="foliocarto" value="{{ ventanilla.folio }}" class="form-control" readonly >
                                </div>
                                <div class="campo">
                                    <label for="recibo3">N°RECIBO:</label>
                                    <input type="text" id="recibocarto" name="recibocarto" value="{{ ventanilla.recibo }}"  class="form-control" readonly >
                                </div>
                                <div class="campo">
                                    <label for="importe3">IMPORTE:</label>
                                    <input type="text" id="importecarto" name="importecarto"  value="{{ ventanilla.importe }}" class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="reviso3">REVISO:</label>
                                    <input type="text" id="revisocarto" name="revisocarto" value="{{ ventanilla.reviso }}"  class="form-control"  >
                                </div>
                                <div class="campo">
                                    <label for="motivo3">MOTIVO:</label>
                                    <input type="text" id="motivocarto" name="motivocarto" value="{{ ventanilla.motivo }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="soliservi3">SOLICITUD DE SERVICIO CATASTRAL(codigos):</label>
                                    <input type="text" id="soliservicarto" name="soliservicarto" value="{{ ventanilla.solicitud_servicio_catastral }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="terrreno3">SUPERFICIE TERRENO (M2):</label>
                                    <input type="text" id="terrenocarto" name="terrenocarto" value="{{ ventanilla.superficie_terreno }}" class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="construc3">SUPERFICIE CONSTRUCCION RESULTANTE (M2):</label>
                                    <input type="text" id="construccarto" name="construccarto" value="{{ ventanilla.superficie_construccion_resultante }}"  class="form-control" >
                                </div>
                                <div class="campo">
                                    <label for="elaboracioncarto">FECHA ELABORACION:</label>
                                    <input type="date" id="elaboracioncarto" name="elaboracioncarto" value="{{ ventanilla.fecha_elaboracion }}" class="form-control" min="01/01/1980" max="31-12-2099">
                                </div>
                                <div class="campo">
                                    <label for="atencion3">OBSERVACIONES ATENCION:</label>
                                    <input type="text" id="atencioncarto" name="atencioncarto" value="{{ ventanilla.observaciones_atencion }}" class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="hora3">HORA DE RECEPCION:</label>
                                    <input type="text" id="horacarto" name="horacarto" value="{{ ventanilla.hora_recepcion }}" class="form-control" readonly>
                                </div>
                                <div class="campo">
                                    <label for="pago3">PAGO:</label>
                                    <input type="text" id="pagocarto" name="pagocarto" value="{{ ventanilla.pago }}" class="form-control" readonly >
                                </div>
                                <div class="campo">
                                    <label for="extras3">$EXTRA$:</label>
                                    <input type="text" id="extrascarto" name="extrascarto" value="{{ ventanilla.extras }}" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                <button type="button" id="cancelButton" class="btn btn-danger btn-block text-white" onclick="goToEditor()">Cancelar</button>
                            </div>
                        </form>
                                    
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                <script>
                                    setTimeout(function() {
                                        var messages = document.querySelector('.messages');
                                        messages.style.display = 'none';
                                    }, 5000);
                                </script>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/EdicionCarto.js' %}"></script>
        {% endblock %}
    </body>
</html>